@media only screen and (min-width:480px){
 
    /* Header */

    
        /* Nav */

        /* Search */

            /* Searchbox */

            /* Filters */
    

            /* Information */


    /* Section 1 */

        /* Popular hotels */

        .popular-section{
            max-width:414px;
            border-radius:20px;
            margin: auto;
        }

        /* Marseille hotels */


    /* Section2 */

        /* Activities */


    /* Footer */

    .footer{
        padding-left:80px;
    }

}

@media only screen and (min-width:764px){
 
    /* Header */

    .header{
        padding: 1em 2em 1em;
    }

        /* Nav */

        .nav{
            flex-flow:row;
            justify-content: flex-end;
            align-items: center;
        }

        .flex-home{
            flex-grow: 3;
        }

        .items{
            order:2;
            flex-grow:2;
            width:max-content;
        }

        .flex-sign{
            order:3;
            flex-grow: 1;
            width:max-content;
            padding-left:2em;
        }

        .flex-item{
            padding:auto;
            width:max-content;
            padding:2em 2em 2em;
            border-bottom:none;
        }

        .flex-item:first-child{
            border-top:2px solid #0065fc;
            border-bottom: none;
        }

        .flex-item:hover{
            border-bottom:none;
            border-top:2px solid #0065fc;
            color:#0065fc;
          }


        /* Search */

            /* Searchbox */

            /* Filters */

            .filters{
                justify-content: space-between;
            }

            /* Information */


    /* Section 1 */

        /* Popular hotels */

        /* Marseille hotels */

        .marseille-section .title-section{
            justify-content: center;
        }

        .hotel-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em 4.5em 0em;
        }

        .marseille-section .map {
            display:block;
            max-height: 14em;
            min-width: 280px;
          }

        .more{
            text-align: center;
        }

    /* Section2 */

        /* Activities */

        .activities-section .title-section{
            justify-content: center;
        }

        .activity-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em 4.5em 0em;
        }

        .activities-section .map{
            display:block;
            max-height: 14em;
            min-width: 280px;
        }

    /* Footer */

    .footer{
        display: flex;
        justify-content: space-evenly;
        padding:0em 0em 0em;
        width:100%;

}

@media screen and (min-width:1024px){

    /* Header */

    .header{
        background-color: rgb(43, 168, 226);
    }

    /* Nav */

    /* Search */

        /* Searchbox */

        /* Filters */

        /* Information */


    /* Section 1 */

        /* Popular hotels */

        /* Marseille hotels */

        .marseille-section{
            background-color: #f2f2f2;
            border-radius: 20px;
            margin: 2em 1em 2em;
            padding:2em 0em 1.8em;
        }

        .hotel-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em 2em 0em;
        }

        .marseille-section .map {
            display:block;
            max-height: 14em;
            min-width: 280px;
          }
        


    /* Section2 */

        /* Activities */


    /* Footer */

}


@media screen and (min-width:1280px){

    /* Header */

    .header{
        background-color: blueviolet;
    }

    /* Nav */

    /* Search */

        /* Searchbox */

        /* Filters */

        /* Information */


    /* Section 1 */

        /* Popular hotels */

        /* Marseille hotels */


    /* Section2 */

        /* Activities */


    /* Footer */

}