@media only screen and (min-width:480px){
 
    /* Header */

    
        /* Nav */

        /* Search */

            /* Searchbox */

            /* Filters */
    

            /* Information */


    /* Section 1 */

        /* Popular hotels */

        .popular-section{
            max-width:414px;
            border-radius:20px;
            margin: auto;
        }

        .title-section{
            max-width:max-content;
        }

        .icon-chart{
            padding-left:2em;
        }
        

        /* Marseille hotels */


    /* Section2 */

        /* Activities */


    /* Footer */

    .footer{
        padding-left:80px;
    }

}

@media only screen and (min-width:764px){
 
    /* Header */

    .header{
        padding: 1em auto 1em;
    }

        /* Nav */

        .nav{
            flex-flow:row;
            justify-content: flex-end;
            align-items: center;
        }

        .flex-home{
            width:100%;
        }

        .items{
            order:2;
            width:max-content;
        }

        .flex-sign{
            order:3;
            width:max-content;
            padding-left:2em;
        }

        .flex-item{
            padding:auto;
            width:max-content;
            padding:2em 2em 2em;
            border-bottom:none;
        }

        .flex-item:first-child{
            border-top:2px solid #0065fc;
            border-bottom: none;
        }

        .flex-item:hover{
            border-bottom:none;
            border-top:2px solid #0065fc;
            color:#0065fc;
          }


        /* Search */

            /* Searchbox */

            /* Filters */

    
            /* Information */


    /* Section 1 */

        /* Popular hotels */

        .popular-section{
            max-width:100%;
            border-radius: 0;
            padding: 2em 6% 1.8em;  
        }

        .popular-section .title-section{
            max-width: 280px;
        }

        .popular-section .hotel-maps-section{
            display:flex;
            flex-flow: column wrap;
            margin: 0em;
            max-height:358px;
            justify-content: space-between;
        }

        .map{
            width:320px;
        }

        .hotel1{
            height:285px;
            max-height: max-content;
            flex-flow: row wrap;
        }

        .hotel1 .hotel-img{
            position:relative;
            width:100%;
            height:60%;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 15px;
        }

        .hotel1 .hotel-text{
            width:max-content;
            height:max-content;
        }

        /* Marseille hotels */


        .marseille-section .hotel-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em;
            justify-content: space-between;
        }

        .marseille-section .map {
            display:block;
            max-height: 14em;
            width: 320px;
          }

        .more{
            text-align: center;
        }

    /* Section2 */

        /* Activities */

        .activities-section .title-section{
            justify-content: center;
        }

        .activity-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em auto 0em;
            justify-content: space-between;
        }

        .activities-section .map{
            display:block;
            max-height: 14em;
            width: 320px;
        }

    /* Footer */

    .footer{
        display: flex;
        justify-content: space-evenly;
        padding:0em 0em 0em;
        width:100%;

}

@media screen and (min-width:900px){

    /* Header */

    /* Nav */

    .flex-sign{
        justify-content:center;
    }

    /* Search */

        /* Searchbox */

        /* Filters */

        /* Information */


    /* Section 1 */

        /* Popular hotels */

        .popular-section{
            border-radius: 20px;
            margin: 2em 1.6em 2em;
            padding:2em 0em 1.8em;
        }

        .popular-section .hotel-maps-section{
            display:flex;
            /* flex-flow: row wrap; */
            margin: 0em 3.5em 0em;
            max-height:358px;
            justify-content: space-between;
        }

        /* .popular-section .map{
            width:280px;
            height:150px;
        }

        .hotel1 .hotel-img{
            position:relative;
            width:40%;
            height:100%;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 0px;
        }

        .hotel1 .hotel-text{
            width:60%;
            height:100%;
        } */

        /* Marseille hotels */

        .marseille-section{
            background-color: #f2f2f2;
            border-radius: 20px;
            margin: 2em 1.6em 2em;
            padding:2em 0em 1.8em;
        }

        .marseille-section .hotel-maps-section{
            display:flex;
            flex-flow:row wrap;
            justify-content: space-between;
            margin: 0em 3.5em 0em;
        }

        .marseille-section .map {
            display: block;
            height:auto;
            width:320px;
          }

        .marseille-section .hotel-img{
            height:8.5em;
        }
        


    /* Section2 */

        /* Activities */

        .activities-section {
            background-color: #f2f2f2;
            border-radius: 20px;
            margin: 2em 1.6em 2em;
            padding:2em 0em 1.8em;
        }

        .activity-maps-section{
            display:flex;
            flex-flow:row wrap;
            margin: 0em 3.5em 0em;
        }

        .activities-section .map{
            display:block;
            max-height: 14em;
            min-width: 280px;
        }
        
    /* Footer */

}


@media screen and (min-width:1024px){

   
    /* Header */


    /* Nav */

    /* Search */

        /* Searchbox */

        /* Filters */

        /* Information */


    /* Section 1 */

    #accomodations{
        display:flex;
        flex-direction: row;
    }

        /* Popular hotels */

        .popular-section{
            max-width:30%;
            border-radius:20px;
            margin: 0 auto 2em 0em;
            order:2
        }

        .popular-section .hotel-maps-section{
            flex-flow:wrap;
            max-height:max-content;
        }

        .hotel1{
            height:9em;
            max-height:auto;
            flex-direction: row;
        }

        .hotel1 .hotel-img{
            position:relative;
            width:40%;
            height:60%;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 15px;
        }

        .hotel1 .hotel-text{
            width:60%;
            height:max-content;
        }

        

        /* Marseille hotels */

        .marseille-section{
            max-width: 60%;
            order:1;
            justify-content: flex-start;
            margin: 0 auto 2em 1.6em;
        }

        .marseille-section .title-section{
            margin-left:2em;
        }

        .marseille-section .hotel-maps-section{
            margin: 0 2em 0;
            flex-direction: row;
            justify-content: space-between;
        }

        .marseille-section .map{
            width:180px;
            height:150px;
            margin: 0px 0px 20px;
        }

        m

    /* Section2 */

        /* Activities */


    /* Footer */

}