
*{
    box-sizing:border-box;
    font-family:'Raleway', sans-serif;
}

body{
  display:block;
  margin:0px;
  width:100%;
  font-size: 15px;
  font-weight:600;
  color:#000000;
  background: #ffffff;
}

a{
  text-decoration:none;
  color:black;
}

h1{
  font-weight: 800;
  font-size: 21px;
  margin:0px 0px 10px;
}

h2{
  font-weight: 800;
  font-size: 15px;
  margin:0;
}

h3{
  font-weight: 600;
  font-size:13px;
  margin:0px;
}

h4{
  font-weight:800;
  font-size:large;
  margin-bottom:20px;
}

p{
  font-weight:600;
  font-size:15px;
  margin:0px;
  padding:0px;
}

ul{
  margin: 0;
  padding-left:0;
}

li{
  list-style:none;
  font-weight: 600;
  font-size: medium;
  margin-bottom:15px;
  width:max-content;
  padding:0px;
}

li:hover{
  transform:scale(1.1);
  transition:0.4s;
  cursor: pointer;
  font-weight:700;
}

/* Header */

  .header{
    display:block;
    width: 100%;
    background-color: #ffffff;
  }

  /* Nav */

  .nav{
    display: flex;
    flex-flow: column wrap;
    width:100%;
    margin:20px 0px 0px;
  }

  .home{
    display:flex;
    width:100%;
    padding: 0px 30px 0px;
  }

  .flex-home{
    width:50%;   
  }

  .logo img{
    width:70%;
    height:auto;
  }

  .flex-sign{
    display:flex;
    width:50%;
    justify-content: flex-end;
    align-items:center;
  } 

  .sign-up{
    color: #0065fc;
    font-weight: bold;
    font-size: 1.1em;
  }

  .items{
      display:flex;
      flex-wrap: row wrap;
  }

  .flex-item{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-bottom: 4px solid #f2f2f2;
    padding: 1em 0em 1em;
  }

  .flex-item:first-child{
    border-bottom:4px solid #0065fc
  }

  .accomodations{
    color:#0065fc;
    padding-left:20px;
  }

  .activities{
    padding-right:20px;
  }

  .activities:hover{
    color:#0065fc;
  }

  .flex-item:hover{
    border-bottom:4px solid #0065fc;
    color:#0065fc;
  }

  
  /* Search */

  .searchbox-container{
    margin:1.6em;
  }

    /* Searchbox */
    .sb-text_block{
      margin-bottom: 10px;
    }

    .sb-title_box{
      display: flex;
      width:100%;
    }

    .sb-subtitle_box{
      display: flex;
      width:100%;
    }

    #searchbox{
      display:block;
      max-width:400px;
      border:2px solid #f2f2f2;
      border-radius:20px;
      margin: 30px 0px 30px;
    }

    .searchbox-content{
      display:flex;
      width:100%;
    }

    #searchbox input{
      flex: 1;
      border:0;
      margin:0px;
      padding-left:1em;
      font-weight: bold;
      font-size: 1.1em;
    }

    .icon-map{
      background-color:#f2f2f2;
      width:fit-content;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      padding: 1em 1.2em 1em;
    }

    .icon-map .fas{
      color:black;
      font-size: 1.2em;  
    }

    .searchButton{
      background: #0065fc;
      border:0px;
      color: white;
      padding: 1em;
      border-radius: 15px;
      font-size: 1em;
      cursor:pointer; 
    }

    /* Filters */

    .filters-container{
      display:block;
      max-width:800px;
    }

    .filters_title{
      display: flex;
      width:fit-content;
      font-size:1.2em;
      font-weight:800;
      margin:20px 0 20px;
    }

    .filters{
      display: flex;
      max-width: 100%;
      flex-flow: row wrap;
      justify-content:flex-start;
    }

    .filter-button{
      display:flex;
      width:fit-content;
      border:3px solid #f2f2f2;
      background-color: #ffffff;
      padding:0px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius:70px;
      cursor:pointer;
      justify-content: center;
      align-items: center;
    }

    .filter-button:hover{
      background-color: #deebff;
    }

    .filter-button:active{
      background-color: #deebff;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      outline-style: none;
    }

    .filter-icon{
      display:inline-flex;
      background-color:#deebff;
      border:10px solid transparent;
      padding:1em;
      justify-content: center;
      align-items: center;
      border-radius: 70px;
      width:1em;
      height:1em;
    }

    .filter-icon .fas{
      color:#0065fc;
      font-size: 1em;
    }

    .filter-text{
      font-size: 1.1em;
      font-weight:800;
      padding-left:10px;
      padding-right:15px;
      border:none;
      cursor:pointer;
    }



    /* Information */

    .note{
      display: flex;
      margin:20px 0px 20px;
      align-items:flex-start
    }

    .info-icon{
      display:flex;
      border: 2px solid #f2f2f2;
      padding:0.8em;
      margin-right:10px;
      border-radius:50px;
      width:0.8em;
      height:0.8em;
      align-items: center;
      justify-content: center;

    }

    .info-icon .fas{
      color:#0065fc;
      size:1em;
    }

/* Section 1 */

  /* Popular hotels */

  .popular-section{
    background-color: #f2f2f2;
    padding:2em 1.8em 1.8em;
  }

  .title-section{
    display:inline-flex;
    justify-content: space-between;
    width:100%;
    align-items: baseline;
    margin-bottom: 0.8em;
  }

  .icon-chart{
    display:inline-flex;
    justify-content: flex-end;
    font-size: 1.8em;
  }

  .block{
    display:flex;
    flex-flow:row wrap;
    background-color:#ffffff;
    border-radius:20px;
    padding:0.4em;
    margin:auto;
    margin-bottom:20px;
    -webkit-box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212); 
    -moz-box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212);  
    box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212);  
    height:auto;
    min-height: 9em;
    max-width: 375px;
  }

  .hotel-img{
    display: flex;
    flex-flow: row wrap;
    position:relative;
    width:40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow:hidden;
  }

  .img-container{
    width: 100%;
    height: 100%;
  }

  .hotel-text{
    display:flex;
    flex-flow: column;
    width:60%;
    height:100%;
    padding:0.7em 1.2em 0.7em;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .hotel-name{
    margin-bottom:0.4em;
  }

  .hotel-price{
    margin-bottom: 0.5em;
  }

  .hotel-rating{
    display:inline-flex;
    margin-top:1.6em;
  }

  .fa-star{
    color:#f2f2f2;
    font-size: 0.8em;
  }

  .checked{
    color:#0065fc;
  }

  /* Marseille hotels */

  .marseille-section{
    padding:2em 1.8em 1.8em;
  }

  .marseille-section .block {
    display:flex;
    flex-flow:column wrap;
    min-height: 12em;
    max-width: 375px;
  }
  .marseille-section .hotel-img{
    display:flex;
    width:100%;
    height:9em;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }

  .marseille-section .hotel-text{
    display:flex;
    width:100%;
    height: auto;
    padding-left:0.6em;
    padding-bottom: 0.2em;
  }

  .marseille-section .hotel-rating{
    margin-top:0;
  }

  .more{
    color:black;
    font-size:1.1em;
    font-weight: 800;
    margin-top:1.5em;
  }

  .more a:hover{
    color:#0065fc;
  }

/* Section2 */

  /* Activities */

  .activities-section{
    padding:2em 1.8em 1.8em;
  }

  .activity-block{
    display:block;
    background-color:#ffffff;
    border-radius:20px;
    padding:0px;
    margin-bottom:20px;
    -webkit-box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212); 
    -moz-box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212);  
    box-shadow:3px 3px 5px 6px rgba(204, 204, 204, 0.212);
  }

  .activity{
    display:flex;
    flex-flow:column wrap;
    height:12em;
  }

  .activity-img{
    display:flex;
    position:relative;
    width:100%;
    height:75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
  }

  .activity-name{
    display:flex;
    width:100%;
    padding:0.9em 1.2em 0.7em;
  }


/* Footer */

footer{
  background-color: #f2f2f2;
  padding:2em 1.8em 2em;
}

.list-1, .list-2, .list-3{
  margin-bottom:2em;
}






  

